@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Navbar Link Styling */
.nav-link {
  @apply text-gray-300 transition duration-300;
}

/* Hover Effect: Only Active Link Changes */
.nav-link:hover {
  @apply text-white bg-[#5a497a] px-3 py-2 rounded-md transition duration-300;
}
